.persoma{
    background: red;
    color: black;
}
.papi{
    color: black;
    background: red;
    color: black;
    background: red;
    color: black;
    background: red;
    color: black;
    background: red;
    background: green;
    background: white;
	background: yellow;
}